.morePs
{
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    color: #c19c89;
    font-size: 0.9rem;
}

@media screen and (max-width: 768px)
{
    .morePs
    {
        bottom: 11.2rem;
    }
}