.Button {
	top: 50%;
	border-bottom: solid 0.5px #fff;
	@apply absolute whitespace-nowrap pb-3;

	.target {
		@apply relative flex h-auto w-auto flex-col items-start;

		.breadcrumbs {
			margin: -0.15rem 0;
			@apply font-notoSans text-xl;
		}

		.name {
			margin: -0.15rem 0;
			@apply -my-1 font-notoSans text-sm;
		}
	}

	.on {
		opacity: 0.35;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			opacity: 1;
		}
	}
}

.interviewButton-0 {
	right: 50%;
	margin-top: -134px;
	margin-right: 251px;
	padding-right: 150px;

	// right: 50%;
	// margin-top: -83px;
	// margin-right: 174px;
	// padding-right: 20px;
}

.interviewButton-1 {
	left: 50%;
	margin-top: -261px;
	margin-left: 138px;
	padding-left: 130px;

	// left: 50%;
	// margin-top: -152px;
	// margin-left: 73px;
	// padding-left: 20px;
}

.interviewButton-2 {
	right: 50%;
	margin-top: -218px;
	margin-right: 76px;
	padding-right: 150px;

	// right: 50%;
	// margin-top: -140px;
	// margin-right: 35px;
	// padding-right: 20px;
}

.interviewButton-3 {
	left: 50%;
	margin-top: -128px;
	margin-left: 361px;
	padding-left: 150px;

	// left: 50%;
	// margin-top: -112px;
	// margin-left: 179px;
	// padding-left: 56px;
}

.interviewButton-4 {
	left: 50%;
	margin-top: 126px;
	margin-left: -40px;
	padding-left: 150px;

	// left: 50%;
	// margin-top: 50px;
	// margin-left: -23px;
	// padding-left: 50px;
}
