.Audio {
	height: 212px;
	background-image: url('./img/gradient.png');
	background-position: right;
	background-size: auto 100%;
	background-repeat: no-repeat;

	@apply absolute bottom-0 z-10 w-full;

	.content {
		position: absolute;
		top: 30%;
		right: 100px;
		margin-top: -25px;
		width: 300px;
		height: 50px;

		@img: './img/wave.svg';

		@apply flex flex-row items-center justify-end;

		.symbol {
			width: 51px;
			height: 23px;
			background-image: url(@img);
			background-position-x: 0%;
			background-position-y: center;
			animation: wave 120s linear infinite;
		}

		.text {
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;
			// background-image: url(@img);
			// background-size: 100%;

			@scale: 0.9;
			@img: './img/text.svg';
			mask-image: url(@img);
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: 100%;
			@apply ml-8;

			.gradient {
				position: absolute;
				left: 0%;
				width: 200%;
				height: 100%;
				background: linear-gradient(
					90deg,
					rgba(255, 109, 0, 1) 0%,
					rgba(255, 255, 255, 1) 50%,
					rgba(255, 109, 0, 1) 100%
				);
				animation: brushed 5s ease-in-out infinite;
			}

			@keyframes brushed {
				0% {
					left: 0%;
				}
				50% {
					left: -100%;
				}
				100% {
					left: 0%;
				}
			}
		}

		@keyframes wave {
			0% {
				background-position-x: 0%;
			}
			100% {
				background-position-x: 1000%;
			}
		}
	}
}
