@import url('../../settings/config.less');

.Audio {
	height: 200px;
	background-image: url('./img/gradient.png');
	background-position: right;
	background-size: auto 100%;
	@apply pointer-events-none absolute bottom-0 z-10 w-full bg-no-repeat;

	.gradient {
		width: 200%;
		background: linear-gradient(
			90deg,
			rgba(126, 77, 61, 1) 0%,
			rgba(206, 178, 154, 1) 50%,
			rgba(126, 77, 61, 1) 100%
		);
		animation: brushed 5s ease-in-out infinite;

		@apply pointer-events-none absolute left-0 h-full;
	}

	.scrollDownText {
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;

		mask-image: url(@img);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: 100%;
		@scale: 0.7;
		@img: './img/scrollDown.svg';

		@apply relative;
	}

	.content {
		height: 50px;

		@apply absolute flex flex-row items-center justify-end;

		.text {
			width: image-width(@img) * @scale;
			height: image-height(@img) * @scale;

			@scale: 0.9;
			@img: './img/text.svg';
			mask-image: url(@img);
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: 100%;

			@apply pointer-events-auto hidden cursor-pointer;

			&:active {
				transform: translateX(1px) translateY(1px);
			}
		}

		@keyframes brushed {
			0% {
				left: 0%;
			}
			50% {
				left: -100%;
			}
			100% {
				left: 0%;
			}
		}

		@keyframes wave {
			0% {
				background-position-x: 0%;
			}
			100% {
				background-position-x: 1000%;
			}
		}
	}
}

@media only screen and (max-width: @bp) {
	.Audio {
		height: 155px;

		.scrollDownText {
			@apply block;
		}

		.content {
			.text {
				width: image-width(@img) * @scale;
				height: image-height(@img) * @scale;

				@scale: 1.2;
				@img: './img/text.svg';
			}
		}
	}
}

@media only screen and (max-height: @bpH) {
	.Audio {
		height: 90px;
	}
}
