@import url('../../../settings/config.less');

.ProcessBar {
	height: 200px;

	@apply absolute bottom-0 w-full;

	.text {
		top: 30%;
		margin-top: -25px;
		height: 50px;

		@apply absolute w-full text-center;

		& > div:nth-child(1) {
			animation: breathe 3s ease-in-out infinite;
		}
	}

	.bar {
		height: 1px;
		background: linear-gradient(
			90deg,
			rgba(118, 72, 55, 1) 0%,
			rgba(205, 178, 154, 1) 50%,
			rgba(118, 72, 55, 1) 100%
		);

		@apply absolute top-0 w-0;
	}

	@keyframes breathe {
		0% {
			@apply opacity-100;
		}

		50% {
			@apply opacity-50;
		}

		100% {
			@apply opacity-100;
		}
	}
}

@media only screen and (max-width: @bp) {
	.ProcessBar {
		height: 155px;
	}
}
