@import url('../../../settings/config.less');

.ProcessBar {
	height: 200px;

	@apply absolute bottom-0 w-full;

	.text {
		top: 30%;
		margin-top: -15px;
		height: 50px;

		@apply absolute flex w-full flex-col space-y-3 text-center font-sourceSansPro capitalize tracking-wide text-white;

		& > div:nth-child(1) {
			animation: breathe 3s ease-in-out infinite;
		}
	}

	.bar {
		height: 1px;
		background: linear-gradient(
			90deg,
			rgba(118, 72, 55, 1) 0%,
			rgba(205, 178, 154, 1) 50%,
			rgba(118, 72, 55, 1) 100%
		);

		@apply absolute top-0 w-0;
	}

	@keyframes breathe {
		0% {
			@apply opacity-100;
		}

		50% {
			@apply opacity-50;
		}

		100% {
			@apply opacity-100;
		}
	}

	.Mouses {
		@apply absolute -mt-20 flex w-full cursor-auto justify-center;

		#mouse {
			&:active {
				.gradient {
					.icon {
						transform: scale(0.8);
					}
				}
			}

			@apply pointer-events-auto flex justify-center;

			& > * {
				@apply pointer-events-none;
			}
			.gradient {
				background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);

				@scale: 0.9;
				@img: './img/iconShadow.svg';
				@apply relative flex h-36 w-36 items-center justify-center rounded-full;

				.icon {
					width: image-width(@img) * @scale;
					height: image-height(@img) * @scale;
					background-image: url(@img);
					animation-delay: 5s;

					@scale: 0.9;
					@img: './img/mouse.svg';

					@apply relative bg-cover;
				}

				.shadow {
					left: 50%;
					margin-left: 0 - image-width(@img) * @scale * 0.5;
					width: image-width(@img) * @scale;
					height: image-height(@img) * @scale;
					background-image: url(@img);

					@apply absolute bg-cover;
				}

				& > div:nth-child(1) {
					margin-top: 10px;
					animation-delay: 5.1s;
				}

				& > div:nth-child(2) {
					margin-top: 20px;
					animation-delay: 5.2s;
				}
			}

			.text {
				top: 93%;
				@apply absolute font-notoSans text-lg font-normal text-white;
			}

			@keyframes dragDown {
				0% {
					transform: translateY(0px);
				}
				80% {
					transform: translateY(-10px);
				}
				100% {
					transform: translateY(0px);
				}
			}
		}
	}
}

@media only screen and (max-width: @bp) {
	.ProcessBar {
		height: 155px;
	}
}
@media only screen and (max-height: @bpH) {
	.ProcessBar {
		height: 90px;

		.text {
			@apply flex-col;
		}
	}
}
