@import url('../../settings/config.less');

.Interview {
	@apply absolute top-0 h-full w-full;

	.cistern {
		@apply relative flex h-full w-full items-center justify-center overflow-visible;

		.vehicle {
			width: 1920px;
			height: 1080px;
			transform-origin: center 80%;

			@apply pointer-events-none relative flex items-center justify-center;

			.image {
				margin-top: 100px;
				width: image-width(@img) * @scale;
				height: image-height(@img) * @scale;
				background-image: url(@img);
				transform-origin: center 74%;

				@scale: 0.22;
				@img: './img/car.png';

				@apply pointer-events-none relative bg-cover bg-no-repeat opacity-100;
			}
		}

		.Gradient {
			top: 60%;
			padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * @width);
			width: 200%;
			border-top: solid 1px #8a7661;
			background-image: url(@img);
			background-size: 100% 100%;

			@width: 100%;
			@img: './img/g.png';

			@apply fixed;
		}
	}

	.title {
		top: 50%;
		margin-top: -350px;
		width: image-width(@img) * @scale;
		height: image-height(@img) * @scale;

		mask-image: url(@img);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: 100%;
		@scale: 0.7;
		@img: './img/title.svg';

		@apply absolute;

		.gradient {
			left: -40%;
			width: 180%;
			height: 100%;
			background: linear-gradient(
				90deg,
				rgba(126, 77, 61, 1) 0%,
				rgba(206, 178, 154, 1) 50%,
				rgba(126, 77, 61, 1) 100%
			);
			animation: interviewBrushed 5s ease-in-out infinite;

			@apply pointer-events-none absolute;
		}

		@keyframes interviewBrushed {
			0% {
				left: 0%;
			}
			50% {
				left: -80%;
			}
			100% {
				left: 0%;
			}
		}
	}
}

@media only screen and (max-width: @bp) {
	.Interview {
		.cistern {
			.vehicle {
				.image {
					margin-top: -40px;
					margin-left: -10px;
				}
			}
			.Gradient {
				@apply hidden;
			}
		}
	}
}
