@import url('../../../settings/config.less');

.Wave {
	position: relative;
	margin: 2rem;
	width: 51px;
	height: 23px;
	cursor: pointer;
	pointer-events: auto;

	&::after {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(@img);
		background-position-x: 0%;
		background-position-y: center;
		content: '';
		animation: wave 120s linear infinite;

		@img: './img/wave.svg';
	}
}

@media only screen and (max-width: @bp) {
	.Wave {
		margin: 0;
	}
}

.Wave-off {
	&::after {
		top: 50%;
		height: 1px;
		background-color: #fff;
	}
}
