@import url('../../../settings/config.less');
.Wave {
	margin: 2rem;
	width: 51px;
	height: 23px;
	background-image: url(@img);
	background-position-x: 0%;
	background-position-y: center;
	animation: wave 120s linear infinite;

	@img: './img/wave.svg';
}

@media only screen and (max-width: @bp) {
	.Wave {
		margin: 0;
	}
}
