@import url('../../../settings/config.less');

.CarOutline {
	margin-top: 43px;
	margin-left: 452px;
	transform: scale(1.42);
	@apply absolute top-0 flex h-full w-full items-center justify-center;

	& > svg {
		@apply absolute;
	}

	.on {
		animation: dash 5s linear;

		animation-fill-mode: forwards;
	}

	@keyframes dash {
		100% {
			stroke-dashoffset: 0;
		}
	}
}

@media only screen and (max-width: @bp) {
	.CarOutline {
		margin-top: -5px;
		margin-left: 311.8px;
		transform: scale(0.644);
	}
}
