.CarOutline {
	transform: scale(0.96);
	@apply absolute top-0 flex h-full w-full items-center justify-center;

	& > svg {
		position: absolute;
	}

	.on {
		animation: dash 50s cubic-bezier(0.25, 1, 0.5, 1);

		animation-fill-mode: forwards;
	}

	@keyframes dash {
		100% {
			stroke-dashoffset: 0;
		}
	}
}
